html
  head
    script(src="https://livejs.com/live.js")
    script.
      console.log('hi from pug')
      let kevinrobot = 'global'
    title= title
  body
    h1= message
    button(type='button', onclick='fetch("http://localhost:7789/recent")' ) Recent
    ul
      each val, index in allTimestamps
        button(type='button', onclick='fetch("http://localhost:7789/play_slp/' + val.uid + '")' ) #{index}
